$primaryColor:#002581;
$blue:#08246C;
$darkBlue:#00133E;
$fontColor:#676767;
$fontColorDark:#1F1F1F;
$fontColorlight:#bbbbbb;
$secondryColor:#FF7F0A;
$white:#ffffff;
$black:#000000;
$lightGray:#F2F3F6;
$footerColor:#262A33;
$bgLighGray:#F5F7FA;
$darkGray:#1F1F1F;
$halfGray:#d3d3d3;

